/* Style sheet for NPS Guide. */





/* General Layout */

body {
	background-color: #e8e4e1;
	color: #290001;
}

.alert-container {
text-align: center;
}

#flash-messages {
	padding: 38px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 300px;
}

.page-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 4%; */
	background-color: #335d2d;
	color: #f1f1e8;
	text-align: center;
	font-size: 18px;
	font-family: "PT Serif";
  }





/* Navbar */

.navbar-light .navbar-brand {
	font-size: 30px;
	font-family: "PT Serif";
	margin: 0px;
	color: white;
}

#navbar{
	background-color:#335d2d;
  }

.navbar-light .navbar-toggler {
	color: white;
	border-color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: #f1f1e8;
  }

.nav-item {
	font-size: 20px;
}

.navbar-nav {
	padding-left: 70%;
}





/* Login Page */

.login-submit {
  background-color: #015249;  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
}  

#login-title {
  text-align: center;  
  color:#015249;
  margin-top: 100px
}  

#login-div {
  margin-left: 38%;  
}  






/* Register Page  */

.register-submit {
  background-color: #015249;  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
}  

#title-register {
  text-align: center;  
  color:#015249;
  margin-top: 100px
}  

#registration-div {
  margin-left: 38%;  
}  





  /* Homepage */

.hmpg-title {
	text-align: center;
	margin-top: 30px
}	

#hmpg-img {
	display: block;  
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 15px;
	border: 3px solid #73AD21;
	width: 806px;
}  

#quote {
	text-align: center;
	font-size: 25px;
	color: #73AD21;
	margin-bottom: 40px;
}	

.hmpg-intro {
	text-align: left;
	margin-left: 20px;
}







  
/* Parks Page */  

#all-parks {
	text-align: center;
}	

#parks-title {
	text-align: center;
	color: white;
	font-size: 60px;
}

.parks-dropdown {
	text-align: center;
	padding-top: 20%;
    padding-bottom: 80%;
}

#dropdownMenuLink {
	background-color: white;
	color: #81b214;
	display: inline-block;
	font-size: 28px;
	width: 400px;       
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
	overflow-x: hidden;
	text-align: center;
	font-size: 17.5px;
}

.park-img {
	background-image: url("/static/imgs/death-valley.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}







/* Park Details Page  */

#park-details-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}	

#park-info {
	margin-left: 145px;
}

#act-title {
	margin-left: 40px;
}


#act-checkboxes {
	border: 5px solid #73AD21;
	border-radius: 25px;
	width: 500px;
	margin: auto;
	padding: 10px;
}

h5 {
	padding-top: 5px;
	color:#87431d;
	text-align: center;
}

#add-act-btn {
	background-color: #73AD21;  
	border: none;
	border-radius: 20px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 200px;
}








/* Bucketlist Details Page */

#bucketlist-details-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}	

#bucketlist-info {
	margin-left: 145px;
}

#bucketlist-title {
	margin-left: 40px;
}

#bucketlist-table {
	border: 5px solid #73AD21;
	border-radius: 25px;
	width: 530px;
	margin: auto;
	padding: 10px;
	font-family: arial, sans-serif;
}

th {
	font-size: 18px;
	text-align: center;
}

td {
	padding: 10px;
	text-align: left;
  }  

.calendar {
	border: 2px solid #73AD21;
	border-radius: 10px;
}

.save-order-btn {
	background-color: #73AD21;  
	border: none;
	border-radius: 20px;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 80px;
}

#all-bucketlists {
	text-align: center;
	font-size: 25px;
	color: #73AD21;
	margin-top: 40px;
}	






/* Profile Page */

#profile-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}	

#user-info {
	margin-left: 145px;
}

#all-bucketlists-title {
	margin-left: 145px;
}

 #all-bucketlists-links {
	margin-left: 145px;

 } 

 #profile-img {
	display: block;  
	margin-top: 35px;
	margin-bottom: 15px;
	border: 3px solid #73AD21;
	width: 706px;
}  

#profile-txt {
	text-align: center;
	color: #81b214;
	font-size: 60px;
}
