
{% extends 'base.html' %}

{% block title %} Bucketlist Details - NPS Guide{% endblock %}


{% block content %}

<h1>Bucketlist Details Page</h1>

<!-- need to print out the park name -->

<!-- 
    make sure it doesn't duplicate 
    check that activities arent already associated with bucketlist  -->
    
    <!-- access the relationship to check if the activity was already there  -->
    
<div id="single-bucketlist-table">  
    <table action="/adding-activities" method="POST">
        <thead>
            <h2>{{bucketlist.park.park_name}}</h2>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Planned Date</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in bucketlist.activities %}
            <tr>
                <td>{{ activity.activity_name }}</td>
                <td><input type="date" name="activity_date" min="2020-09-01" required autofocus></td>
                {% endfor %}
            </tr>
    </tbody>
</table>
<br /><button type="submit" id="save-order-btn">Save</button>
</div>
{% endblock %}