
{% extends 'base.html' %}

{% block title %} Bucketlist Details - NPS Guide{% endblock %}


{% block content %}


<div id="bucketlist-details-title">
    <h1>Your {{bucketlist.park.park_name}} Bucketlist</h1>
</div>



<div class="container">
    <div class="row">
      <div class="col">
        <div id="bucketlist-info">
            <h3>Bucketlist Information:</h3>
            <ul>
                <li>This bucketlist includes activities added from {{bucketlist.park.park_name}}</li>
            </ul>
        
        </div>
        <div id="bucketlist-title">
            <br /><h3>Bucketlist:</h3>
        </div>
        <div id="bucketlist-table">  
            <table>
                <h5>Planned date defaults to todays date or changes when you update<br />
                    Select date of activity and update each one</h5> <br />
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Planned Date</th> 
                        <th scope="col">Change Date</th>
                    </tr>
                </thead>
                <tbody>
                        {% for bucketlistitem in bucketlist.bucketlistitems %} 
        
                        <tr>
                            <td>{{ bucketlistitem.activity.activity_name}}</td>
                            {% if bucketlistitem.order != None %} 
                                <td id={{bucketlistitem.item_id}}>{{ bucketlistitem.order.strftime('%m/%d/%Y')}}</td>
                            {% endif %}
                            
                            <td><input id="date-{{bucketlistitem.item_id}}" class="calendar" type="date" name="order-date" min="2020-09-01" required autofocus></td> 
                            <td><button type="submit" class="save-order-btn" value={{bucketlistitem.item_id}}>Update</button></td>
                            <!-- <input type="hidden" name="item_id" value={{bucketlistitem.item_id}}></input> -->
                        </tr>
                        
                        {% endfor %}
                </tbody>
            </table>
        </div>
        
      </div>
      <div class="col">
        <div class="act-imgs">
            <img src="/static/imgs/bucket-transparent.png">
        </div>
    </div>
</div>


<div id="all-bucketlists">
    <p><img src="/static/imgs/pin.png" width="30" height="35" class="d-inline-block align-bottom"><a class="profile-link" href="/profile/{{session.get('user_id')}}">&nbsp;Click here to view all your bucketlists!</a></p>
</div>

<!-- <img src="/static/imgs/tent-transparent.png"> -->

{% endblock %}