
{% extends 'base.html' %}

{% block title %}{{User.fname}}'s Bucletlist Page{% endblock %}


{% block content %}
<h1>{{park.park_name}} Details Page</h1>



<div id="bucketlist-div">
    <h2>{{user.name}}'s Bucketlist</h2>
    <form class="form-signin" method="POST">
        <label for="email"><b>Email Address</b></label>
        <input type="text" placeholder="Email" name="email" required autofocus>
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Password"name="password" required autofocus>
    </form>
</div>




{% endblock %}
