{% extends 'base.html' %}

{% block title %}Choose Parks Page{% endblock %}

{% block content %}

<html>
    <body>
        <!-- MVP search for park search bar -->

        <h2>Start Exploring National Parks</h2>
        <div class="border">
            <div class="search">
                <input type="text" class="searchBar" placeholder="Search Park..">
                <button type="submit" class="searchButton">Search
                    <i class="user-search"></i>
                </button>
            </div>
        </div>
    </body>
</html>

{% endblock %}

<!-- NOTES: 
for div class border ass border color -->