

{% extends 'base.html' %}

{% block title %}National Park Service Guide{% endblock %}

{% block content %}


<div class="hmpg-intro">
  <h2>Welcome to your National Park Service Guide!</h2>
  <p>Since 1916, the National Park Service has been entrusted with the care 
    of our national parks. With help from NPS Guide you can start planning your
    visit to the national parks by viewing different parks and saving preferred 
    activities to a bucketlist.</p>
    <p><img src="/static/imgs/pin.png" width="30" height="35" class="d-inline-block align-bottom">Start planning your next adventure!</p>
</div>

<div class="hmpg-stats">
  <h3>5 Most Visited National Parks in 2019</h3>
  <ol>
    <li>&nbsp;Great Smoky Mountains National Park&nbsp; &nbsp; &nbsp; (12.5 million visits)</li>
    <li>&nbsp;Grand Canyon National Park&nbsp; &nbsp; &nbsp; (5.97 million visits)</li>
    <li>&nbsp;Rocky Mountain National Park&nbsp; &nbsp; &nbsp; (4.7 million visits)</li>
    <li>&nbsp;Zion National Park&nbsp; &nbsp; &nbsp; (4.5 million visits)</li>
    <li>&nbsp;Yosemite National Park&nbsp; &nbsp; &nbsp; (4.5 million visits)</li>
  </ol>

</div>
{% endblock %}













<!-- <!doctype html>
<html>
    <head> -->
    <!-- Load Bootstrap 4 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

    <!-- Load Font Awesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"> -->

    <!-- Load our stylesheet -->
    <!-- <link rel="stylesheet"href="/static/css/styles.css"> -->
    <!-- </head>

</html> -->


