{% extends 'base.html'%} 
{% block title %}National Park Service Guide{% endblock %}

{% block body %}
    <div id="img">

    </div>


    <div id="login">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <p>
                Email <input type="text" name="email">
            </p>
            <p>
                Password <input type="text" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </div>
    <div id="register">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <p>
                First Name <input type="text" name="fname">
            </p>
            <p>
                Last Name <input type="text" name="lname">
            </p>
            <p>
                Email <input type="text" name="email">
            </p>
            <p>
                Password <input type="text" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </div>
{% endblock %}


    <!-- <h1>Login</h1>
    <div id="login">
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="field-name">Username</label>
                <input id="field-name" class="form-control" type="text" name="name" required>
            </div>
            <div class="form-group">
                <label for="field-email">Password</label>
                <input id="field-email" class="form-control" type="email" name="email" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div> -->






<!-- {% block js %} -->

<!-- include jsx script tags here for what i want in the homepage (navbar, homepage) -->

<!-- {% endblock %} -->



<!-- 
# homepage
# login & new user registration are dropdown menus on homepage   -->