{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

<html>
    <body>
        <div id="login-div">
            <h2>Login</h2>
            <form class="form-signin" method="POST">
                <label for="email"><b>Email Address</b></label>
                <input type="text" placeholder="Email" name="email" required autofocus>
                <label for="password"><b>Password</b></label>
                <input type="text" placeholder="Password"name="password" required autofocus>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}


<!-- NOTES
maybe add more divs inbetween to separate? -->
<!-- add a class to div? -->

<!-- autofocus gives emphasis on that section or focus when the page loads -->