{% extends 'base.html' %}

{% block title %}Parks - NPS Guide{% endblock %}

{% block content %}

<h1>{{park.park_name}} Details Page</h1>

<div id="park-info">
    <h3>Park Information:</h3>
    {{park.park_name}}<br />
    State Location: 
    
    {% for state in park.states %}
    
    {% if state == park.states|last %}
    {{state.state_code}}
    
    {% elif park.states|length > 1 %}
    {{state.state_code}},
    
    {% else %}
    {{state.state_code}}
    
    {% endif %}
    {% endfor %}<br />
    <a href={{park.siteURL}}>Official Page</a>
</div>

<div id="act-checkboxes">
    <br /><h3>Activities Available:</h3>
    <p>Note: Check your preferred activities and add them to your bucketlist!</p>
    <form action="/adding-activities" method="POST">
        <input type="hidden" value={{park.park_id}} name="park_id">
        {% for activity in park.activities %}
        <input type="checkbox" value={{activity.activity_id}} name="activities">
        <label>{{ activity.activity_name }}</label><br />
        {% endfor %}
        <br /><button type="submit" id="add-act-btn">Add To Bucketlist</button>
    </form>
</div>


{% endblock %}

<!-- this returns me my park details and site url  -->



<!-- and not last state then add comma -->

<!-- javascript for adding activity to a bucketlist 
    and maybe the search bar stuff next week -->