{% extends 'base.html' %}

{% block title %}Parks - NPS Guide{% endblock %}


{% block content %}
<head>

</head>
<div id="all-parks">
    <h1>Find your next favorite park</h1>
    <ul>
        {% for park in parks %}
        <li><a href="parks/{{park.park_id}}">{{ park.park_name }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- Search Bar  -->
<!-- 
<div class="search-container">
    <form method="get">
        <div class="search-input">
            <h1>Find your next favorite park</h1>
            <input id="search-bar" type="text" name="choose-park" placeholder="Enter a park name" list="parks-list">
            <input type="submit" id="searchbtn" value="search">
        </div>
    </form>
    <datalist id="parks-list">
        {% for park in parks %}
        <option value="parks/{{park.park_id}}">
            <label>{{ park.park_name }}</label><br />
        </option>
        {% endfor %}
    </datalist>

</div> -->




{% endblock %}

