{% extends 'base.html' %}

{% block title %}Parks - NPS Guide{% endblock %}


{% block content %}
<head>

</head>

<div class="parks-dropdown">
    <div id="parks-title">    
        <h1>Find your next favorite park</h1>
    </div>  

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose a Park
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for park in parks %}
        <a class="dropdown-item" href="parks/{{park.park_id}}">{{ park.park_name }}</a>
    {% endfor %}
    </div>
  </div>

{% endblock %}



<!-- <div id="all-parks">
    <h1>Find your next favorite park</h1>
    <ul>
        {% for park in parks %}
        <li><a href="parks/{{park.park_id}}">{{ park.park_name }}</a></li>
        {% endfor %}
    </ul>
</div> -->



