{% extends 'base.html' %}

{% block title %}Parks - NPS Guide{% endblock %}

{% block content %}

<div id="park-details-title">
    <h1>{{park.park_name}} Details</h1>
</div>


<div id="park-info">
    <h3>Park Information:</h3>
    {{park.park_name}}<br />
    State Location: 
    
    {% for state in park.states %}
    
    {% if state == park.states|last %}
    {{state.state_code}}
    
    {% elif park.states|length > 1 %}
    {{state.state_code}},
    
    {% else %}
    {{state.state_code}}
    
    {% endif %}
    {% endfor %}<br />
    <a href={{park.siteURL}}>Official Page</a>
</div>




<div id="act-title">
    <br /><h3>Activities Available:</h3>
    <p>Note: Check your preferred activities and add them to your bucketlist!</p>
</div>






<div class="container">
    <div class="row">
      <div class="col">
        <div id="act-checkboxes">
            <form action="/adding-activities" method="POST">
                <input type="hidden" value={{park.park_id}} name="park_id">
         
                {% for activity in park.activities %}
                <input type="checkbox" value={{activity.activity_id}} name="activities">
                <label>{{ activity.activity_name }}</label><br />
                {% endfor %}
                <br /><button type="submit" id="add-act-btn">Add To Bucketlist</button><br />
            </form>
        </div>
        
      </div>
      <div class="col">
        <div class="act-imgs">
            <img src="/static/imgs/hiking-transparent.png">
            <img src="/static/imgs/campfire-transparent.png">
            <img src="/static/imgs/animal-transparent.png">
            <img src="/static/imgs/rock-climbing-transparent.png">
            <img src="/static/imgs/biking-transparent.png">
            <img src="/static/imgs/kayak-transparent.png">
        </div>
      </div>
    </div>
  

{% endblock %}

