{% extends 'base.html' %}

{% block title %}Registration Page{% endblock %}

{% block content %}



<div id="registration-div">
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="fname">First Name</label>
        <input type="text" placeholder="First Name" name="fname" required autofocus>
        <br/><label for="lname">Last Name</label>
        <input type="text" placeholder="Last Name" name="lname" required autofocus>
        <br/><label for="email">Email</label>
        <input type="text" placeholder="Email" name="email" required auttofocus>
        <br/><label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" required autofocus>
        <br/><button type="submit">Register</button>
    </form>
</div>


{% endblock %}

<!-- NOTES: 
add more classes or divs? -->