
{% extends 'base.html' %}

{% block title %}Profile - NPS Guide{% endblock %}


{% block content %}
<h1>{{user.fname}}'s Profile</h1>




<div id="bucketlist-div">
    <h2>All Bucketlists</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Date to Complete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>hiking</td>
                <td><input type="text" placeholder="MM/DD/YYYY" name="date" required autofocus></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- do i need to add jquery files and bootstrap files here or is it okay just in base? -->

<script src="/static/profile.js"></script>
{% endblock %}


<!-- activity . activity_name -->