
{% extends 'base.html' %}

{% block title %}Profile - NPS Guide{% endblock %}


{% block content %}
<h1>{{user.fname}}'s Profile</h1>

<div id="user-info">
    <h3>Account Info</h3>
    <br />Name: {{user.fname}} {{user.lname}}
    <br />Email: {{user.email}}
</div>




<div id="all-bucketlists">
    <br /><h3>All Bucketlists</h3>

    {% for bucketlist in bucketlists %}
    {% if bucketlist == None %}
    You currently have no bucketlists created. Check out the 'Explore Parks' page to get started.
    {% else %}
    <ul>
    <li>{{bucketlist.park.park_name}}</li>
    </ul>
    {% endif %}
    {% endfor %}
</div>
    
    <!-- do i need to add jquery files and bootstrap files here or is it okay just in base? -->
    
    <script src="/static/profile.js"></script>
    {% endblock %}
    
